*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: #F2F0C9;
}
.white-block-right {
  bottom: 0;
  right: -50px;
  transform: skew(135deg);
}
.white-block-left {
  top: 0;
  left: -50px;
  transform: skew(135deg);
}

.btn-special-animation {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transition: transform 0.3s;
  z-index: -1;
}
.btn-special-animationhover::before {
  transform: scaleX(1);
  transform-origin: right;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #3E5954;
  letter-spacing: 3px;
}

.section-padding {
  padding: 6em 2em;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.7rem;
  }
  .section-padding {
    padding: 8em 2em;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 10em 2em;
  }
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  background-color: #F2F0C9;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid #3E5954;
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #3E5954;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  transition-delay: 0.3s;
}

.nav__bar__items {
  transform: translateX(100%);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100vh;
  width: 100%;
  background: linear-gradient(60deg, rgb(171, 236, 214) 0%, rgb(251, 237, 150) 100%);
  z-index: 100;
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.nav__bar__items--active {
  transform: translateX(0);
}
.nav__bar__item {
  position: relative;
  display: block;
  margin: 0.5em 45%;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  color: #3E5954;
  text-decoration: none;
}
.nav__bar__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  transform: scaleY(0);
  transition: transform 0.3s;
  background-color: #3E5954;
  content: "";
}
.nav__bar__item:hover::before {
  transform: scaleY(1);
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 75vh;
  text-align: center;
  color: #3E5954;
  background-image: linear-gradient(60deg, rgba(171, 236, 214, 0.924) 0%, rgba(251, 237, 150, 0.458) 100%), url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: scroll;
}
.header__title {
  font-family: Fruktur;
  font-size: 4.2rem;
  font-weight: 300;
}
.header__text {
  font-size: 1.4rem;
}
.header__btn {
  margin-top: 2em;
  padding: 0.8em 1.6em;
  font-size: 1.4rem;
  background-color: #f1f2c4;
  border: none;
  border-radius: 8px;
  color: #3E5954;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.header__btn::before {
  background-color: red;
}

.spa__box {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
.spa__img {
  width: 100%;
  margin-bottom: 1em;
  filter: saturate(300%) brightness(80%) hue-rotate(30deg) blur(1px);
}
.spa__title {
  color: #1E261C;
  margin-bottom: 0.5em;
}
.spa__text {
  color: #3E5954;
  font-size: 1.4rem;
}

.hero-img {
  position: relative;
  padding: 10em 2em;
  background-image: linear-gradient(60deg, rgba(171, 236, 214, 0.924) 0%, rgba(251, 237, 150, 0.458) 100%), url("../img/sosnowiec-apple.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: #3E5954;
}
.hero-img__title {
  font-family: Fruktur;
  margin-bottom: 0.5em;
  font-size: 4.8rem;
}
.hero-img__text {
  padding: 1em 0;
}

@-webkit-keyframes navItemsAni {
  from {
    translate: 150% 0;
  }
  to {
    translate: 0 0;
  }
}

@keyframes navItemsAni {
  from {
    translate: 150% 0;
  }
  to {
    translate: 0 0;
  }
}
.nav-items-animation {
  -webkit-animation: navItemsAni 1s both;
          animation: navItemsAni 1s both;
}

@media (min-width: 576px) {
  .spa__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .spa__box-text {
    width: 55%;
    padding: 0 2em;
  }
  .spa__box-text--right {
    text-align: right;
  }
  .spa__box-img {
    width: 45%;
  }
  .spa__box-img--right {
    order: 1;
  }
  .spa__img {
    margin-bottom: 0;
    max-height: 300px;
  }
}
@media (min-width: 768px) {
  .white-block {
    height: 50px;
    width: 45%;
  }
  .header__title {
    font-size: 6.6rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .header__btn {
    font-size: 1.6rem;
  }
  .spa__text {
    font-size: 1.8rem;
  }
  .hero-img {
    padding: 30rem 2em;
  }
  .hero-img hr {
    margin: 0 auto;
    width: 75%;
  }
  .hero-img__text {
    font-size: 2.2rem;
  }
}
@media (min-width: 992px) {
  .burger-btn {
    top: 50px;
    right: 50px;
  }
  .header__title {
    font-size: 10rem;
  }
  .nav__item {
    font-size: 4.8rem;
  }
  .spa__box {
    margin: 5em 0;
  }
  .spa__box-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2.5em;
  }
  .spa__title {
    font-size: 3.6rem;
  }
  .spa__text {
    font-size: 2.2rem;
  }
  .hero-img {
    padding: 40rem 2em;
  }
  .hero-img__title {
    font-size: 7.2rem;
  }
  .hero-img hr {
    width: 60%;
    max-width: 900px;
  }
}/*# sourceMappingURL=index.css.map */