@media (min-height: 667px) and (max-width: 375px) {
  .reviews .swiper-slide-img img {
    height: 100px;
    width: 100px;
  }
  .reviews .swiper-slide-text {
    font-size: 2rem;
  }
}
@media (min-height: 812px) and (max-width: 375px) {
  .reviews .swiper-slide-img img {
    margin: 1.5rem 0;
    height: 120px;
    width: 120px;
  }
  .reviews .swiper-slide-text {
    font-size: 2rem;
  }
  .reviews .swiper-slide strong {
    margin: 2rem 0;
    font-size: 2rem;
  }
}
@media (min-width: 576px) {
  .spa__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .spa__box-text {
    width: 55%;
    padding: 0 2em;
  }
  .spa__box-text--right {
    text-align: right;
  }
  .spa__box-img {
    width: 45%;
  }
  .spa__box-img--right {
    order: 1;
  }
  .spa__img {
    margin-bottom: 0;
    max-height: 300px;
  }
  .offers__offer {
    display: flex;
    margin: 2em 0;
    width: 100%;
  }
  .offers__offer-img {
    width: 50%;
    height: auto;
  }
  .offers__offer-img --right {
    order: 1;
  }
  .offers__offer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .offers__offer-heading {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
  }
  .offers__offer-btn {
    padding: 1em;
  }
  .reviews .swiper-slide-text {
    font-size: 2rem;
  }
  .reviews .swiper-slide strong {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .header__title {
    font-size: 6.6rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .header__btn {
    font-size: 1.6rem;
  }
  .spa__text {
    font-size: 1.8rem;
  }
  .hero-img {
    padding: 30rem 2em;
  }
  .hero-img hr {
    margin: 0 auto;
    width: 75%;
  }
  .hero-img__text {
    font-size: 2.2rem;
  }
  .districts__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .districts__card {
    margin: 1em;
    width: 45%;
  }
  .footer__boxes {
    display: flex;
    justify-content: space-between;
  }
  .footer__box-desktop {
    display: block;
  }
  .footer__box {
    margin: 0 2em;
    width: 25%;
  }
  .footer__box:first-child {
    width: 50%;
  }
  .footer__box-title {
    font-size: 2.4rem;
  }
}
@media (min-width: 992px) {
  .burger-btn {
    top: 50px;
    right: 50px;
  }
  .header__title {
    font-size: 10rem;
  }
  .nav__item {
    font-size: 4.8rem;
  }
  .spa__box {
    margin: 5em 0;
  }
  .spa__box-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2.5em;
  }
  .spa__title {
    font-size: 3.6rem;
  }
  .spa__text {
    font-size: 2.2rem;
  }
  .hero-img {
    padding: 40rem 2em;
  }
  .hero-img__title {
    font-size: 7.2rem;
  }
  .hero-img hr {
    width: 60%;
    max-width: 900px;
  }
  .offers__offer-text {
    font-size: 1.5rem;
  }
  .reviews .swiper-slide {
    height: 50vh;
    max-width: 70vw;
    padding: 1em;
  }
  .reviews .swiper-slide-img img {
    width: 120px;
    height: 120px;
  }
  .reviews .swiper-slide-quote--upper {
    margin-bottom: 1em;
  }
  .reviews .swiper-slide-quote--upper--lower {
    margin-top: 1em;
  }
  .reviews .swiper-slide-quote-text {
    font-size: 3em;
    padding: 0.2em 1em;
  }
  .reviews .swiper-slide-quote strong {
    font-size: 1em;
  }
}
@media (min-width: 1100px) {
  .districts__card {
    width: 30%;
  }
}/*# sourceMappingURL=mediaquerries.css.map */