// alpha version of pallette from hero img made with adobe color wheel
$dark: #3E5954;
$darker: #1E261C;
$light: #f1f2c4;
$lighter: #F2F0C9;
$cta: #f2e291;


// gradients borrowed from cssgradient.io 
$over-sun-gradient:linear-gradient(60deg, rgba(171, 236, 214, 0.724) 0%, rgba(251, 237, 150, 0.458) 100%);

$over-sun-gradient-solid:linear-gradient(60deg, rgb(171, 236, 214) 0%, rgb(251, 237, 150) 100%);

$old-hat-gradient:linear-gradient(to right, rgba(228, 175, 203, 0.372) 0%, rgba(184, 203, 184, 0.652) 0%, rgba(184, 203, 184, 0.659) 0%, rgba(226, 197, 139, 0.731) 30%, rgba(194, 206, 156, 0.664) 64%, rgba(126, 218, 220, 0.715) 100%);

$old-hat-gradient-solid:linear-gradient(to right, rgb(228, 175, 203) 0%, rgb(184, 203, 184) 0%, rgb(184, 203, 184) 0%, rgb(226, 197, 139) 30%, rgb(194, 206, 156) 64%, rgb(126, 218, 220) 100%);