@media (min-height: 667px) and (max-width: 375px) {
	.reviews {
		.swiper-slide {
			&-img {
				img {
					height: 100px;
					width: 100px;
				}
			}
			&-text {
				font-size: 2rem;
			}
		}
	}
}
@media (min-height: 812px) and (max-width: 375px) {
	.reviews {
		.swiper-slide {
			&-img {
				img {
					margin: 1.5rem 0;
					height: 120px;
					width: 120px;
				}
			}
			&-text {
				font-size: 2rem;
			}
			strong {
				margin: 2rem 0;
				font-size: 2rem;
			}
		}
	}
}
@media (min-width: 576px) {
	.spa {
		&__box {
			flex-direction: row;
			justify-content: space-between;
			&-text {
				width: 55%;
				padding: 0 2em;
				&--right {
					text-align: right;
				}
			}
			&-img {
				width: 45%;
				&--right {
					order: 1;
				}
			}
		}
		&__img {
			margin-bottom: 0;
			max-height: 300px;
		}
	}
	.offers {
		&__offer {
			display: flex;
			margin: 2em 0;
			width: 100%;
			&-img {
				width: 50%;
				height: auto;
				--right {
					order: 1;
				}
			}
			&-info {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
			&-heading {
				margin-bottom: 0.5em;
				font-size: 3.6rem;
			}
			&-btn {
				padding: 1em;
			}
		}
	}
	.reviews {
		.swiper {
			&-slide {
				&-text {
					font-size: 2rem;
				}
				strong {
					font-size: 2rem;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.header {
		&__title {
			font-size: 6.6rem;
		}
		&__text {
			font-size: 2.2rem;
		}
		&__btn {
			font-size: 1.6rem;
		}
	}
	.spa {
		&__text {
			font-size: 1.8rem;
		}
	}
	.hero-img {
		padding: 30rem 2em;
		hr {
			margin: 0 auto;
			width: 75%;
		}
		&__text {
			font-size: 2.2rem;
		}
	}
	.districts {
		&__cards {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		&__card {
			margin: 1em;
			width: 45%;
		}
	}
	.footer {
		&__boxes {
			display: flex;
			justify-content: space-between;
		}
		&__box-desktop {
			display: block;
		}
		&__box {
			margin: 0 2em;
			width: 25%;
			&:first-child {
				width: 50%;
			}
			&-title {
				font-size: 2.4rem;
			}
		}
	}
}

@media (min-width: 992px) {
	.burger-btn {
		top: 50px;
		right: 50px;
	}
	.header {
		&__title {
			font-size: 10rem;
		}
	}
	.nav {
		&__item {
			font-size: 4.8rem;
		}
	}
	.spa {
		&__box {
			margin: 5em 0;
			&-text {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				margin-bottom: 2.5em;
			}
		}
		&__title {
			font-size: 3.6rem;
		}
		&__text {
			font-size: 2.2rem;
		}
	}
	.hero-img {
		padding: 40rem 2em;
		&__title {
			font-size: 7.2rem;
		}
		hr {
			width: 60%;
			max-width: 900px;
		}
	}
	.offers {
		// bgi jak znajdziesz 2 rozmiary
		&__offer {
			&-text {
				font-size: 1.5rem;
			}
		}
	}
	.reviews {
		.swiper {
			&-slide {
				height: 50vh;
				max-width: 70vw;
				padding: 1em;
				&-img {
					img {
						width: 120px;
						height: 120px;
					}
				}
				&-quote {
					&--upper {
						margin-bottom: 1em;
						&--lower {
							margin-top: 1em;
						}
					}
					&-text {
						font-size: 3em;
						padding: 0.2em 1em;
					}
					strong {
						font-size: 1em;
					}
				}
			}
		}
	}
}
@media (min-width: 1100px) {
	.districts {
		&__card {
			width: 30%;
		}
	}
}
