@mixin burgerBtn {
	position: absolute;
	right: 0;
	height: 3px;
	content: '';
	background-color: $dark;
	transition: width 0.3s;
}

@mixin heroImages($bgImg) {
    background-image: $over-sun-gradient, url($bgImg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@mixin districtCardStyles {
	position: absolute;
				left: 50%;
				translate: -50%;
}