@import './reset';
@import './colors';
@import './mixins';
@import './components';
@import './animations';

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8rem;
	background-color: $lighter;
}

// nav
.burger-btn {
	overflow: hidden;
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&:focus {
		outline: none;
		height: 4.5em;
		width: 5em;
		border: 1px solid $dark;
		border-radius: 8px;
	}

	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}
	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		@include burgerBtn;
	}

	&__bars {
		width: 100%;
		&::after {
			top: 13px;
			width: 60%;
		}
	}

	&__bars::before {
		top: 27px;
		width: 30%;
		transition-delay: 0.3s;
	}
}

.nav {
	&__bar {
		&__items {
			transform: translateX(100%);
			position: fixed;
			top: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;
			height: 100vh;
			width: 100%;
			background: $over-sun-gradient-solid;
			z-index: 100;
			transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
			&--active {
				transform: translateX(0);
			}
		}

		&__item {
			position: relative;
			display: block;
			margin: 0.5em 45%;
			padding: 0.5em 2em;
			font-size: 2.8rem;
			color: $dark;
			text-decoration: none;
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 3px;
				height: 100%;
				transform: scaleY(0);
				transition: transform 0.3s;
				background-color: $dark;
				content: '';
			}
			&:hover::before {
				transform: scaleY(1);
			}
		}
	}
}

// header

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 75vh;
	text-align: center;
	color: $dark;
	@include heroImages('../img/hero.jpg');
	background-attachment: scroll;

	&__title {
		font-family: Fruktur;
		font-size: 4.2rem;
		font-weight: 300;
	}

	&__text {
		font-size: 1.4rem;
	}
	&__btn {
		margin-top: 2em;
		padding: 0.8em 1.6em;
		font-size: 1.4rem;
		background-color: $light;
		border: none;
		border-radius: 8px;
		color: $dark;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		&::before {
			background-color: red;
		}
	}
}

// main
// spa section
.spa {
	&__box {
		display: flex;
		flex-direction: column;
		margin: 2em 0;
	}

	&__img {
		width: 100%;
		margin-bottom: 1em;

		filter: saturate(300%) brightness(80%) hue-rotate(30deg) blur(1px);
	}

	&__title {
		color: $darker;
		margin-bottom: 0.5em;
	}

	&__text {
		color: $dark;
		font-size: 1.4rem;
	}
}
// hero img section
.hero-img {
	position: relative;
	padding: 10em 2em;
	@include heroImages('../img/sosnowiec-apple.jpg');
	text-align: center;
	color: $dark;
	&__title {
		font-family: Fruktur;
		margin-bottom: 0.5em;
		font-size: 4.8rem;
	}
	&__text {
		padding: 1em 0;
	}
}
// districts section
.districts {
	&__card {
		position: relative;
		margin: 1em 0;
		height: 450px;
		color: $dark;
		text-align: center;
		perspective: 1000px;
		&:hover {
			.districts__card-img {
				transform: rotateY(-180deg);
				opacity: 0;
			}
			.districts__card-info {
				transform: rotateY(0);
				opacity: 1;
			}
		}

		&-img {
			padding: 2em;
			height: 100%;
			border-radius: 8px;
			background-size: cover;
			transition: transform 1s, opacity 1s;
			&--first {
				background-image: $old-hat-gradient, url('../img/sosnowiec-walcownia.jpg');
			}
			&--second {
				background-image: $over-sun-gradient, url('../img/sosnowiec-pogon.jpg');
			}
			&--third {
				background-image: $old-hat-gradient, url('../img/sosnowiec-milowice.jpg');
			}
			&-title {
				font-family: Fruktur;
				font-size: 2.8rem;
			}
			&-info {
				position: absolute;
				bottom: 30px;
				right: 30px;
				font-size: 1.8rem;
				i {
					margin-right: 0.3em;
				}
			}
		}
		&-info {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-image: $old-hat-gradient-solid;
			border-radius: 8px;
			opacity: 0;
			transform: rotateY(180deg);
			transition: transform 1s, opacity 1s;
			&-title {
				@include districtCardStyles;
				top: 1.2em;
				font-family: Fruktur;
				font-size: 2.8rem;
			}
			&-list {
				margin: 0 auto;
				width: 70%;
				list-style: none;
				&-item {
					padding: 1em;
					font-size: 1.4rem;
					border-bottom: 1px solid $darker;
					&:last-child {
						border-bottom: none;
					}
				}
			}
			&-btn {
				@include districtCardStyles;
				bottom: 2em;
				padding: 1em;
				border-radius: 8px;
				width: 80%;
				border: none;
				background-color: $cta;
				cursor: pointer;
				&::before {
					background-color: $lighter;
				}
			}
		}
	}
}
//offers section
.offers {
	position: relative;
	@include heroImages('../img/sosnowiec-centrum.jpg');
	&__offer {
		margin: 1em 0;
		box-shadow: 5px 5px 10px #2e2e2e2e;
		background-color: $lighter;
		overflow: hidden;
		&-img {
			width: 100%;
			transition: transform 0.3s;

			&:hover {
				transform: scale(1.1);
			}
		}
		&-info {
			padding: 2em;
			background-color: $light;
			z-index: 10;
		}
		&-heading {
			margin-bottom: 0.5em;
			font-size: 2.4rem;
			font-weight: 300;
		}
		&-text {
			margin-bottom: 0.5em;
			font-size: 1.3em;
			color: $darker;
		}
		&-btn {
			margin-top: 1em;
			padding: 0.8em;
			width: 100%;
			color: $cta;
			background-color: $dark;
			border: none;
			border-radius: 8px;
			cursor: pointer;

			&::before {
				background-color: $darker;
			}
		}
	}
}
// reviews section
.reviews {
	overflow: hidden;
	.swiper {
		&-slide {
			position: relative;
			height: 70vh;
			margin: 0 1em;
			padding: 1em;
			border-radius: 8px;
			box-shadow: 5px 5px 10px #2e2e2e2e;
			background-color: $darker;
			&-img {
				img {
					width: 90px;
					height: 90px;
					object-fit: cover;
					border-radius: 40%;
				}
			}
			&-quote {
				color: $cta;
				&--upper {
					text-align: right;
					margin-bottom: 0.5em;
					.fa-quote-right {
						color: $cta;
					}
				}
				&--lower {
					margin-top: 0.5em;
					.fa-quote-left {
						color: $cta;
					}
				}
			}
			&-text {
				font-size: 1.5rem;
				color: $lighter;
				padding: 0.2em 1em;
			}
			strong {
				color: $dark;
				font-size: 1em;
				text-transform: uppercase;
				font-weight: 300;
			}
		}
	}
}
//contactUs section
.contactus {
	position: relative;
	background-color: $darker;
	overflow: hidden;
	color: $light;
	.section-heading {
		color: $light;
	}
	.white-block-right {
		background-color: $dark;
	}
	&__form {
		display: flex;
		flex-direction: column;
		&-top {
			display: flex;
			flex-direction: column;
		}
		&-label {
			margin-bottom: 0.5em;
			text-transform: uppercase;
		}
		&-input {
			@include contactForm;
		}
		&-textarea {
			@include contactForm;
			max-width: 100%;
			min-width: 100%;
			width: 100%;
			min-height: 150px;
		}
		&-btn {
			align-self: flex-end;
			padding: 1em;
			width: 100%;
			max-width: 300px;
			color: $dark;
			border: none;
			border-radius: 8px;
			background-color: $cta;
			font-size: 1em;
			text-transform: uppercase;
			cursor: pointer;

			&::before {
				background-color: $lighter;
			}
		}
	}
}
//====================
//footer
.footer {
	color: $lighter;
	background-color: $dark;
	.wrapper {
		padding: 6em 2em 2em;
	}
	&__box {
		font-size: 1.4rem;

		&-desktop {
			display: none;
		}
		&-title {
			margin-bottom: 1em;
			font-size: 3rem;
			text-transform: uppercase;
		}
		&-social {
			margin: 2em 0 1em;
		}
		&-link {
			padding: 0 0.3em;
			font-size: 3.6rem;
			color: $light;
			text-decoration: none;
			transition: color 0.3s;
			&:first-child {
				padding-left: 0;
			}
			&:hover {
				color: $cta;
			}
		}
		&-list {
			list-style: none;
			&-item {
				margin-bottom: 1em;
				a {
					color: $light;
					text-decoration: none;
				}
			}
		}
	}
	&__bottom-text {
		padding: 2em;
		text-align: center;
	}
	hr {
		color: $light;
	}
}

//====================
// media queries
@import './mediaquerries';
