@mixin burgerBtn {
	position: absolute;
	right: 0;
	height: 3px;
	content: '';
	background-color: $dark;
	transition: width 0.3s;
}

@mixin heroImages($bgImg) {
    background-image: $over-sun-gradient, url($bgImg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@mixin districtCardStyles {
	position: absolute;
				left: 50%;
				translate: -50%;
}

@mixin contactForm{
	margin-bottom: 2em;
	padding: .6em 1.2em;
	border: none;
	border-radius: 8px;
	font-size: 1.6rem;
}